.table-container {
  flex: 1;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

.no-border-left-right td {
  border-left: none;
  border-right: none;
}
