/* General container styling */
.container {
  display: flex;
  flex-direction: column; /* Stack items vertically by default */
  gap: 20px; /* Space between chart and table */
  padding: 20px;
}

/* Chart container styling */
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title of the chart */
.chart-title {
  text-align: center;
  padding-top: 10px;
}

/* Table container styling */
.table-container {
  width: 100%;
}

/* Green striped table styling */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

.no-border-left-right td {
  border-left: none;
  border-right: none;
}

/* Responsive Design for Larger Screens */
@media (min-width: 768px) {
  .container {
    flex-direction: row; /* Align items horizontally on larger screens */
  }

  .chart-container {
    flex: 2; /* Adjust as needed */
    padding: 20px;
  }

  .table-container {
    flex: 3; /* Adjust as needed */
    padding: 20px;
  }
}
